*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    font-size: 15px;
}

body{
  background-color: #565656;
}

h1{
    font-size: 200%;
    font-weight: 500%;
    background-color: #FFF58C;
    flex-direction: column;
}

h2{
    left: 0;
    font-size: 250%;
    font-size: 300%;
    padding: 5px;
    margin: 100px 50px;
    border: 2px solid black;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    border-right: 1px;
}



nav{
background-color: #007CDE;
color: #fff;
text-align: right;
}

section{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

a{
    text-align: right;
    font-size: 150%;
    font-weight: 200%;
    margin: 5px;
    left: 10px;
}

.subtitle{
    position: absolute;
    font-size: 150%;
    font-weight: 200%;
    margin-top: -60px;
    margin-left: 80%;
    background-color: #FFDB70;
}

.mainpara{
    position: relative;
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
    border: 20px 10px;
    flex-wrap: wrap;
    display: flex;
    margin: 25px;
}

.back1{
    flex-wrap: wrap;
    width: 40vw;
    height: 350px;
    position: relative;
    padding: 10px;
    border: 5px;
    margin: 20px 20px;
    right: -50px;
}

.mainback{
    width: 75vw;
    height: 55vh;
    flex-wrap: wrap;
    position: relative;
    flex: 1 1 0;
}

.contact{
    margin: 0 auto;
    margin-top: 80px;
}

.maintitle {
    position: absolute;
    font-size: 40px;
    background-color: #000000;
    color: #fff;
    flex: 1 1 0;
    margin: 0 auto;
    flex-wrap: wrap;
    top: 400px;
    left: 300px;
  }

  .sectitle{
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    flex: 1 1 0;
    margin: 0 auto;
    top: 850px;
    left: 200px;
  }

  .sectitle1{
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    flex: 1 1 auto;
    margin: 0 auto;
    top: 850px;
    left: 1000px;
  }

  .sectitle2{
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    flex: 1 1 auto;
    margin: 0 auto;
    top: 1200px;
    left: 1000px;
    z-index: 1;
  }

  .sectitle3{
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    position: absolute;
    flex: 1 1 auto;
    margin: 0 auto;
    top: 1200px;
    left: 200px;
    z-index: 1;
  }

  .card {
    float: left;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  #headerback{
    width: 100vw;
  }
  
  .card .cover-image {
    position: relative;
    z-index: -1;
    filter: blur(5px);
    transition: filter 0.25s linear;
  }
  
  .card:hover .cover-image{
    filter: blur(0);
  }
